h1, h2, h3, h4, h5, h6, p, pre, ul, body, blockquote {
  padding: 0;
  margin:0;
  word-wrap:normal;
}

html, body{
  height: 100%;
  overflow: auto;
  background: url('/images/background_2_bright_low.jpg') no-repeat;
  /*background: url('/assets/background_7.jpg') no-repeat;*/
  background-attachment: fixed;
  background-size: cover;
  background-position: left;
}

#wrapper{
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: -3.3em auto -3em;

  #buffer_top{height: 3.3em;}
  #buffer_bottom{height: 3em;}
}

header{
  background-color: rgba(0,0,0,0.8);
  overflow: none;

  a{    
    display: inline-block;
    color: #fff;
    font-weight: bold;
    font-size: 1.2em;
    text-decoration: none;
    height: 100%;
    padding: 0.8em;
    width: auto;
    text-align: center;
    border-right: 1px solid rgba(96,96,96,1);
    transition: 0.4s;
    -moz-transition: 0.4s;
  }
  a:hover{background-color: rgba(255,255,255,0.15);}
}

#main{
  overflow: auto;
  margin: auto;
  padding-left: 1em;
  padding-right: 1em;
  max-width: 1100px;
}

footer{
  background-color: rgba(0,0,0,0.8);
  overflow: auto;
  width: 100%;
  height: 3em;

  span{
    font-size: 1em;
    padding: 0.8em;
    float: right;
    color: white;
  }

  a{color: rgb(100,100,100)}
}

@media screen and (max-width: 700px){
  html, body{
    background-color: white !important;
    background-image: none;
  }
}