// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
div, pre{border-radius: 5px;}

#blog{
  margin-top: 1em;
  overflow: auto;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  background-color: rgba(50,50,50,0.1);
  pre{background-color: rgba(255,255,255,0.3);}
  a:hover{color: rgba(0,0,0,0.6);}

  #posts{
    float:left;
    width:80%;
    padding: 1%;
    overflow: auto;

    #page_links{
      width: 100%;
      text-align: center;
    }
  }

  #tags{
    padding: 1%;
    float:right;
    width:16%;
    ul{list-style-type:circle;}
  }
}

#post, #login, #new_post, #edit_post{
  padding: 1%;
}