// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#blog{
  overflow: auto;

  #posts{
    float:left;
    width:80%;
    padding: 1%;
    overflow: auto;
  }

  #tags{
    padding: 1%;
    float:right;
    width:16%;
    ul{list-style-type:circle;}
  }
}

#post{
  padding: 1%;
}